body {
  font-family: Georgia, 'Times New Roman', Times, serif,cursive, sans-serif;
  margin: 20px;
  background-image: linear-gradient(to left ,black, #fff);
}

.toptext{
  font-weight: 200;
  font-size: 45px;
}

.logo {
  max-width: 100%;
  height: 120px;
  display: block;
  margin: 0 auto 10px auto;
  margin-right:76vw ; 
}

marquee{
  color: #d84eb8;
  font-size: 18px;
  margin-bottom: 4px;
  
}

textarea {
  font-family: 'Times New Roman', Times, serif;
  width: 98%;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right ,black, #fff);
  color: white;
}


button {
  padding: 10px 20px;
  font-size: 17px;

  background: #0000009f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #b18da9;
  color: black;
}

#summary {
  background: #00000056;
  padding: 10px;
  border: 1px solid #ddd;
  white-space: pre-wrap;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
}

.ca{
  font-weight: 200;
}

#flaggedComments p {
  margin: 5px 0;
  padding: 5px;
}

.typing {
  color: black;
  border-right: 2px solid #000000;
  /* cursor */
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 2s steps(15, end) forwards,
    blink 0.7s step-end infinite;
}

footer{
  text-align: center;
  bottom: 0;
  margin-top: 70px;
}

.a{
  font-size: 20px;
}